<div class="jumbotron">
	<h1>Welcome to Rocket. </h1>
	<h3>The app that makes your life a rocket of awesome on a collision course with the moon.</h3>
	<p><%= link_to "Sign up here", "#", class: "btn btn-primary" %></p>
</div>
